<!--  - 1 entry (vertex) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#abc-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="abc"> abc
    </label>
</div>
<div class="collapse pad" id="abc-form">
    Vertex:
    <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="adiam"> adiam
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="aprank"> aprank
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="bbc"> bbc
    </label>
</div>
<!--  - no entries -->

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#bc-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="bc"> bc
    </label>
</div>
<div class="collapse" id="bc-form">
   <div class="bg-warning p-3 mb-2 "> Warning: bc is very memory intensive and tends to crash on larger graphs.</div>
</div>





<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="cc"> cc
    </label>
</div>
<!--  - 2 entries (vertices) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#dist-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="dist"> dist
    </label>
</div>
<div class="collapse pad" id="dist-form">
    <div class="pad">
        Vertex 1:
        <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    </div>
    <div class="pad">
        Vertex 2:
        <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    </div>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#ediam-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="ediam"> ediam
    </label>
</div>
<div class="collapse" id="ediam-form">
   <div class="bg-warning p-3 mb-2 "> Warning: ediam is very memory intensive and tends to crash on larger graphs.</div>
</div>


<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="emdiam"> emdiam
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="edge"> edge
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="etri"> etri
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="kdiam"> kdiam
    </label>
</div>
<!--  - 1 entry (vertex) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#lcc-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="lcc"> lcc
    </label>
</div>
<div class="collapse pad" id="lcc-form">
    Vertex:
    <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="od"> od
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="prank"> prank
    </label>
</div>
<!--  - no entries -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox" autocomplete="off" id="vert"> vert
    </label>
</div>
<!--  - 1 entry (# of vertices to keep) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#reduce-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="reduce"> reduce
    </label>
</div>
<div class="collapse pad" id="reduce-form">
    Number of vertices to keep:
    <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
</div>
<!--  - user can enter as many as they want -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#reducetree-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="reducetree"> reducetree
    </label>
</div>
<div class="collapse pad" id="reducetree-form">
    Comma separated list of selected vertices:
    <input class="form-control" type="text">
</div>
<!--  - 1 entry (# of vertices as roots) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#reducetreetop-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="reducetreetop"> reducetreetop
    </label>
</div>
<div class="collapse pad" id="reducetreetop-form">
    Number of vertices as roots:
    <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
</div>
<!--  - 1 entry (# of edges to keep for each vertex) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#reducetri-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="reducetri"> reducetri
    </label>
</div>
<div class="collapse pad" id="reducetri-form">
    Number of edges to keep for each vertex:
    <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
</div>
<!--  - 1 entry (% of edges to keep for each vertex) -->
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-outline-primary" data-toggle="collapse" data-target="#reducepercent-form" aria-expanded="false" aria-controls="collapseExample">
        <input type="checkbox" autocomplete="off" id="reducepercent"> reducepercent
    </label>
</div>
<div class="collapse pad" id="reducepercent-form">
    Number of edges to keep for each vertex:
    <input class="form-control" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
</div>
<div class="pad info">
    For more info, <a href="/static/manual.pdf" target="blank">Click Here</a>
</div>